html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#music-player {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 220px; !important;
  transform: scale(1) !important;

  background: rgba(15, 10, 30, 0.9);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(139, 92, 246, 0.6);
  border-radius: 16px;

  padding: 12px;

  color: white;
  font-family: Arial, sans-serif;

  z-index: 9999;

  box-shadow:
    0 0 10px rgba(139, 92, 246, 0.3),
    0 0 25px rgba(139, 92, 246, 0.15);
}

#music-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  font-weight: bold;
  color: #a855f7;

  cursor: move;
}

#song-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#music-controls {
  display: flex;
  gap: 8px;
}

#music-controls button,
#music-minimize {
  background: transparent;
  border: 1px solid rgba(139, 92, 246, 0.5);

  color: white;

  border-radius: 8px;

  padding: 6px 10px;

  cursor: pointer;
}

#music-controls button:hover,
#music-minimize:hover {
  background: rgba(139, 92, 246, 0.2);
}
#music-progress {
  width: 100%;
  margin-top: 10px;
  accent-color: #a855f7;
  touch-action: none;
  height: 6px;
}

#music-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 4px;
}
#music-progress {
  accent-color: #a855f7;
}
